.place__paragraph-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  max-width: 100%;
  align-items: start;
  justify-self: start;
  margin: 0;
  padding: 0;
}

.place__paragraph-text:nth-child(2) {
  margin-top: 23px;
}

@media screen and (max-width: 768px) {
  .place__paragraph-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-text {
    min-width: calc(100% - 16px * 2);
    font-size: 16px;
    padding: 0 16px;
  }
}
