.intro__text {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  min-height: 208px;
  margin-top: 40px;
  max-width: 690px;
}
