.intro {
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 100px * 2);
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 700px) {
  .intro {
    margin-top: 64px;
    max-width: calc(100% - 16px * 2);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 62px;
  }
}
