.place__link {
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  align-self: end;
  padding: 0;
  margin: 0 auto 1px auto;
  border-bottom: 1px solid;
}

@media screen and (max-width: 320px) {
  .place__link {
    max-height: 48px;
  }
}
